

.navigation-bar-edit {
    width: 80%;
}
.main {
    background-image: url("https://images.pexels.com/photos/4992644/pexels-photo-4992644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    min-height: 800px;
}

.title-page h1, h3{
    color: white;
}